{% extends 'monitor/test/2.html' %}
{% block a%}
        <div style="background-color:rebeccapurple;width: 800px;height: 500px">
        {% block aa %}<h4>ssss</h4>{% endblock %}
        {% block b %}
        <div style="background-color: brown;width: 800px;height:100px;">
            {% block bb %}<h2>少时诵诗书</h2>{% endblock %}
            <div style="color: black;">
                <input style="display: inline-block;background-color: darkred;border:red " type="button" value="小鸟说早早早"/>
            </div>
        </div>
        {% endblock %}
    </div>

{% endblock %}